*~
\#*\#
auto-save-list
auto/
tramp
.\#*

out/
pdf/
/*.txss
/*.sublime-workspace
/*.sublime-project


**/*.aux
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.log
**/*.fls
**/*.out
**/*.synctex.gz
**/*.thm
**/*.toc
**/*.fls






